---
layout: page
title: Türkçe Kaynaklar Listesi
permalink: /
---
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="block">
          <h1>Türkçe Kaynaklar</h1>
          <h3>Özenle seçilmiş Türkçe kaynaklar listesi</h3>
          <div class="buttons">
            <a href="https://github.com/fatihacet/turkcekaynaklar-com/blob/master/Katki-Cagrisi.md" class="btn btn-primary btn-lg">Katkı Çağrısı</a>
            <a href="https://github.com/fatihacet/turkcekaynaklar-com" class="btn btn-success btn-lg">GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="main-content" class="row content-wrapper">
  <div class="col-md-8 col-md-offset-2">
    <div class="container-fluid">
      {% markdown main_content.md %}
    </div>
  </div>
</section>
