<header id="main-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/katki-cagrisi">Katki Cagrisi</a></li>
                <li><a href="https://github.com/fatihacet/turkcekaynaklar-com">GitHub</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
